<section id="about">
  <div class="container">
  <div class="row">
    <div class="title">
      <h1> عن الأكاديمية  </h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="content col-lg-8 col-md-12">
      <div class="mission">
      <h2>المهمة </h2>
      <p>
        نحن نهدف إلى الاستثمار فى عقول الشباب وتمكينهم من إطلاق إمكاناتهم الكاملة فى مفاهيم  (STEM)
        من خلال التدريب العملى /ذهنى من خلال ورش العمل والدورات التعليمية .
        نحن نطمح إلى سد الفجوة بين الدراسة النظرية والتطبيق العملى وبين المدارس والجامعات .
        علاوة على ذلك فإننا نسعى جاهدين لتنمية مواهب اطفالنا وصقلها إلى ريادة المستقبل
        ليصبحوا مستعدين للثورة الصناعية الرابعة
      </p>
    </div>
    <div class="vision">
      <h2>الرؤية </h2>
      <p>
        تسعى مؤسسة المهندس الصغير أن تصبح من بين رواد تقديم المنتجات والخدمات والحلول الصفية
        للمدارس فى مجال العلوم والتكنولوجيا والهندسة والرياضيات (STEM) مع تعريف أكبر عدد من الأطفال
        والمراهقين لأحدثالابتكارات والأدوات التكنولوجية اللازمة للتميز فى هذا المجال الواسع .
      </p>
    </div>
    </div>
    <div class="img col-lg-4 col-md-12">
      <div class="card">
        <img src="../../../assets/image/about1.svg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
</section>
