<section class="container">
  <div class="row">
    <div class="title">
      <h1 id="gallery">صور طلاب أكاديمية المهندس الصغير</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-evenly py-5">
    <div class="col-lg-3 col-md-6 col-sm-12 my-3">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/image/image-4.svg" class="img-fluid " alt="..." style="width: 100%; height: 100%;">
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 my-3">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/image/image-3.svg" class="img-fluid" alt="..." style="width: 100%; height: 100%;">
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 my-3">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/image/image-2.svg" class="img-fluid" alt="..." style="width: 100%; height: 100%;">
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 my-3">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/image/image-1.svg" class="img-fluid" alt="..." style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
  <div class="more row">
    <a routerLink="/gallery" class="align-self-stretch">
      <img src="../../../assets/icons/ic_round-expand-more.png" alt="expand-more"><span>المزيد</span>
    </a>
  </div>
</section>
