.footer {
  background-color: #165086;
  padding: 85px 0;
  margin-top: 100px;
}

#fcustom-btn {
  background-color: #d37209;
  color: #eee;
  width: 180px;
  height: 50px;
  font-size: 22px;
}

.CopyRight a {
  color: #eee;
  text-decoration: none;
}

.box-footer p {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box-footer p a{
  text-decoration: none;
  color: #eee;

}

.box-footer h3 {
  color: #eee;
}

.phone span {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.place i {
  background-color: #eee;
  color: #eee;
}

.place a {
  color: #eee;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.place span a {
  color: #eee;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
