.footer {
  background-color: #165086;
  padding: 85px 0;
  margin-top: 100px;
}

#fcustom-btn {
  background-color: #d37209;
  color: #eee;
  width: 180px;
  height: 50px;
  font-size: 22px;
}

.CopyRight a {
  color: #eee;
  text-decoration: none;
}

.box-footer p {
  color: #eee;
}

.box-footer p a{
  text-decoration: none;
  color: #eee;
}

.box-footer h3 {
  color: #eee;
}

.phone span {
  color: #eee;
}

.place i {
  background-color: #eee;
  color: #eee;
}

.place span {
  color: #eee;
}
