/* ======== Start Footer ** ======== */
/*** Footer ***/
.footer {
  background-color: #165086;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F1F0E8;
  border: 1px solid #F1F0E8;
  border-radius: 35px;
  transition: .3s;
  background-color: transparent;
}

.footer .btn.btn-social:hover {
  background-color: transparent;
  border: 1px solid #f5a425;
  color: #f5a425;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: right;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
  text-decoration: none;
}

.footer .footerAddress {
  color: #FFFFFF;

  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.footer .btn.btn-link {
  color: #FFFFFF;

  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#footerBtn {
  background-color: #f5a425;
  color: #eee;
  border: none;
}

#footerBtn:hover {
  background-color: #fdbc54;
  color: #eee;
  border: none;
}

/* ======== End Footer ======== */
