<footer class="footer py-3" id="footer">
  <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="box-footer col-lg-3 col-sm-12 text-center">
              <div class="single-box">
                  <a class="navbar-brand" href="#">
                      <img src="../../../assets/image/logo.png" alt="Logo" width="140" height="180"
                          class="d-inline-block align-text-top">
                  </a>
              </div>
          </div>
          <div class="box-footer col-lg-3 col-sm-12 text-center">
              <div class="py-3">
                  <p class="fs-5"> <a href="#"> الصفحة الرئيسية </a></p>
                  <p class="fs-5"> <a href="#">   احجز لطفلك   </a></p>
                  <p class="fs-5"> <a href="#">  الكورسات  </a></p>
                  <p class="fs-5"> <a href="#"> جاليرى </a></p>
                  <p class="fs-5"> <a href="#"> تواصل معنا  </a></p>

              </div>
          </div>
          <div class="box-footer col-lg-5 m-auto text-center">
              <div class="py-3">
                  <div class="place mb-2">
                    <i class="fa-solid fa-location-dot" style="color: #fcfcfd;"></i>
                    <span>المنيا - بني مزار بجوار المدرسة التجريبية الجديدة</span>
                  </div>
                  <div class="place mb-2">
                    <i class="fa-solid fa-location-dot" style="color: aliceblue;"></i>
                      <span>القاهرة -  فرع نادي مدينتي</span>
                  </div>
                  <div class="phone mb-2">
                      <i class="fa-solid fa-phone" style="color: aliceblue;"></i>
                      <span dir="ltr"> 0863896024 </span>
                  </div>
                  <div class="social">
                      <a href="#">
                          <img src="" alt="" style="width: 35px; height: 35px;">
                      </a>
                      <a href="#">
                          <img src=""
                          alt="" style="width: 70px; height: 70px;">
                      </a>
                      <a href="#">
                          <img src="" alt="" style="width: 35px; height: 35px;">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ==== CopyRight ==== -->
  <div class="container">
      <div class="row">
          <div class="text-center CopyRight">
              <a class="border-bottom" href="#">تصميم و تطوير </a>&copy; <a class="border-bottom" href="#">شركة
                  Core Technology Solution</a>
                  <img class="mx-2" src="../../../assets/image/cts-logo.png" width="80px" height="50px" alt="">
              </div>
      </div>
  </div>
</footer>
