<header id="head">
  <!-- start caresoul -->
  <div
    id="carouselExampleInterval"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img
          src="../../../assets/image/caresoul-01.svg"
          class="d-block w-100 h-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h1 class="py-2">أكاديمية المهندس الصغير</h1>
          <p class="py-3">
            لتعليم الربوت والبرمجة والذكاء الاصطناعي للاطفال لمستقبل مشرق
            لاطفالنا
          </p>
          <button
            type="button"
            class="btn btn-primary btn-lg btnHeader"
            [routerLink]="['/contact']"
          >
            احجز الآن
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/image/caresoul-02.svg"
          class="d-block w-100 h-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h1 class="py-2">أكاديمية المهندس الصغير</h1>
          <p class="py-3">
            لتعليم الربوت والبرمجة والذكاء الاصطناعي للاطفال لمستقبل مشرق
            لاطفالنا
          </p>
          <button
            type="button"
            class="btn btn-primary btn-lg btnHeader"
            [routerLink]="['/contact']"
          >
            احجز الآن
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/image/caresoul-03.svg"
          class="d-block w-100 h-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h1 class="py-2">أكاديمية المهندس الصغير</h1>
          <p class="py-3">
            لتعليم الربوت والبرمجة والذكاء الاصطناعي للاطفال لمستقبل مشرق
            لاطفالنا
          </p>
          <button
            type="button"
            class="btn btn-primary btn-lg btnHeader"
            [routerLink]="['/contact']"
          >
            احجز الآن
          </button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- ebd caresoul  -->
</header>
