header{
  height: 100vh;
}

#carouselExampleInterval{
  margin-bottom: 30px;
}
.carousel-item img{
  object-fit: cover;
  height: 100vh;
  width: 100%;
  display: relative;
  top: 0;
}
.carousel-item img{
  height: 1005px;
}
.carousel-indicators{
  display: none;
}
.carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
}
.carousel-caption{
  position: absolute;
  top: 30%;
}
.carousel-caption h1{
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.carousel-caption p{
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.carousel-caption button{
  background: linear-gradient(191deg, #136CBC 8.32%, rgba(48, 104, 154, 0.53) 117.47%, rgba(19, 108, 188, 0.00) 241.17%);
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  border: none;
  width: 294px;
  height: 92px;
  padding: 14px 14px;
  border-radius: 20px;
}
.btnHeader:hover,
.btnHeader:focus {
  box-shadow: rgb(254, 254, 254) 0px 10px 50px -20px, rgb(246, 243, 243) 0px 10px 20px -30px;
}
