<section id="boxes" class="container text-center py-5">
  <div class="row d-flex justify-content-evenly g-4">
    <!-- Frist box  -->
    <div class="col-lg-4 col-md-12 box d-flex justify-content-center mx-3">
      <div class="box-info">
        <h3>كورسات حضور أو اونلاين</h3>
        <p>مجموعة متنوعة من الكورسات داخل القاعات او اونلاين</p>
      </div>
      <div class="box-img">
        <img
          class="img-fluid"
          src="../../../assets/icons/Time-Card.png"
          alt=""
        />
      </div>
    </div>
    <!-- Second box  -->
    <div class="col-lg-4 col-md-12 box d-flex justify-content-center mx-3">
      <div class="box-info">
        <h3>محاضرين ذو خبرة عالية</h3>
        <p class="fs-5">تعلم مع خبراء البرمجة من مصر</p>
      </div>
      <div class="box-img">
        <img
          class="img-fluid"
          src="../../../assets/icons/Graduation-Scroll.png"
          alt=""
        />
      </div>
    </div>
    <!-- Third box  -->
    <div class="col-lg-4 col-md-12 box d-flex justify-content-center mx-3">
      <div class="box-info">
        <h3>تعلم أكثر لتربح أكثر</h3>
        <p>استثمر وقتك فى تعليم البرمجة للاطفال لحجز مكان فى سوق العمل</p>
      </div>
      <div class="box-img">
        <img
          class="img-fluid"
          src="../../../assets/icons/MacBook-Money.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
