.container {
  position: absolute;
  /* Position the container absolutely */
  top: 70%;
  /*prseent*/
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: rgba(19, 108, 188, 0.80);
  color: #ffffff;
  width: 30%;
  height: 120px;
  border-radius: 20px;
  padding: 20px 20px;
}

.box-info h3 {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box-info p {
  font-size: 0.8rem !important;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.box-img img {
  width: 70px;
  height: 70px;
}

@media (max-width: 991px) {
  .container {
    position: static;
    /* Remove absolute positioning */
    background-color: transparent;
    /* Remove background */
    z-index: 0;
    /* Place the boxes behind the carousel on smaller screens */
  }

  .box {
    /* Add styles for individual boxes on mobile and tablet screens here */
    /* For example, you can adjust their width and margin */
    width: 100%;
    margin: 20px 20px;
  }
}

/* Styles for larger screens (e.g., desktop) */
@media (min-width: 992px) {
  .container {
    position: absolute;
    /* Position the container absolutely */
    top: 650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    /* Add a semi-transparent background */
    z-index: 1;
    /* Place the boxes component above the carousel on larger screens */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #boxes {
    margin-top: 25px;
  }
}