<!-- Start navbar  -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h1>
                <img src="../../../assets/Photos/lOGO 2.png" title="" alt="Logo"
                    width="70" height="80" class="d-inline-block align-text-top" />
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars-staggered fa-lg"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> الصفحة الرئيسية </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> احجز لطفلك </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> الكورسات </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> جاليري </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> عن الأكاديمية </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End navbar  -->
