<!-- start navbar  -->
<nav class="navbar navbar-expand-lg fixed-top bg-transparent" [ngClass]="{'navbar-hidden': isNavbarHidden}">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <h1><img id="logo" src="../../../assets/image/logo.png" title=" " alt="Logo"
          class="d-inline-block align-text-top"></h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-bars-staggered fa-lg"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"> الرئيسية </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"> احجز لطفلك </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#course"> الكورسات </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery"> جاليري </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about"> عن الأكاديمية </a>
        </li>
      </ul>
      <a id="navBtn" class="my-4 btn" (click)="downloadPdf()" role="button">تحميل البروفايل </a>
    </div>
  </div>
</nav>
<!-- end navbar  -->
