<section class="container py-5" id="important">
  <div class="title row">
    <h1>أهمية تعلُم صناعة الروبوت للأطفال</h1>
    <p>
      يوفر علم الروبوتات فرصًا لتعليم الأطفال بعض المجالات الصعبة مثل البرمجة والهندسة والذكاء الاصطناعي بطريقة ممتعة وتفاعلية،
      حيث يكسبهم المهارات الممتازة التي تساعدهم على التطور الوظيفي في المستقبل؛
    بالإضافة إلى تعلم مهارات حل المشكلات، وتنمية مهارات الفضول والإبداع، مما يجعلهم أكثر استعدادًا للمستقبل .
  </p>
  </div>
  <div class="row d-flex justify-content-evenly">
    <div class="col-lg-6 col-md-12 my-3">
      <div class="card-img">
        <img class="img-fluid" src="../../../assets/image/imp-01.png" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 my-3">
      <div class="card-img">
        <img class="img-fluid" src="../../../assets/image/imp-02.png" alt="">
      </div>
    </div>
  </div>
</section>
