.title h1 {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: rgb(29,92,158);
}
.title p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}
.imgs{
  margin: 30px auto;
}

.card-img{
  width: 40%;
  height: 300px;
}
.card-img img{
  width: 550px;
  height: 350px;
}
