#important{
  margin-top: 100px;
}
.title h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: rgb(29,92,158);
}
.title p {
  width: 80%;
  text-align: justify;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-img img{
  width: 550px;
  max-height: 350px;
}
