.page-header {
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  position: relative;
  top: 50%;
}

.page-header-inner h1{
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}

