<section class="container py-5">
  <div class="title row g-4">
    <h1 id="course"> الكورسات </h1>
    <p>
      في اكاديمية المهندس الصغير نقدم كورسات للأطفال من سن ٨ إلى ١٦ سنة
      في البرمجة والروبوت والذكاء الاصطناعي تحت إشراف الدكتور مهندس / مصطفى القاضي
  </p>
  </div>
  <div class="row d-flex justify-content-evenly py-3">
    <div class="card col-lg-3 col-md-2  my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-01.jpg" class="img-fluid card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> Electronics </h3>
      </div>
    </div>
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-02.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">++C </h3>
      </div>
    </div>
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-03.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> Arduino </h3>
      </div>
    </div>
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-04.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Python </h3>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-evenly py-4">
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-05.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> Scratch 3 </h3>
      </div>
    </div>
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-06.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> SCratch Junior </h3>
      </div>
    </div>
    <div class="card col-lg-3 col-md-2 my-3" style="width: 18rem;">
      <img src="../../../assets/image/course-07.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> Robotics Vex Vr </h3>
      </div>
    </div>
  </div>
</section>
