<section class="container py-5">
  <div class="title row g-4">
    <h1> الكورسات </h1>
    <p>
      في اكاديمية المهندس الصغير نقدم كورسات للأطفال من سن ٨ إلى ١٦ سنة
      في البرمجة والروبوت والذكاء الاصطناعي تحت إشراف الدكتور مهندس / مصطفى القاضي
  </p>
  </div>
  <div class="row d-flex justify-content-evenly">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/Photos/electronic-kits-lowres-6532 1.png" class="img-fluid card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title"> Electronics </h1>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">C++  </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Arduino </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Python </h5>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Scratch 3 </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> SCratch Junior </h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Robotics Vex Vr </h5>
      </div>
    </div>
  </div>
</section>
