<!-- Page Header Start -->
<div
  class="container-fluid page-header mb-5 p-0"
  style="background-image: url(../../../assets/image/caresoul-01.svg)"
>
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center">
      <h1 class="display-3 text-white mb-3 animated slideInDown">جاليري</h1>
    </div>
  </div>
</div>
<!-- Page Header End -->

<section class="container">
  <input type="radio" name="filter" id="image" /><label for="image"
    >الصور</label
  >
  <input type="radio" name="filter" id="video" checked /><label for="video"
    >الفيديوهات</label
  >

  <div class="gallery">
    <figure class="card image">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/10/300"
        alt=""
      />
    </figure>
    <figure class="card video">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/1005/300"
        alt=""
      />
    </figure>
    <figure class="card image">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/218/300"
        alt=""
      />
    </figure>
    <figure class="card video">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/1012/300"
        alt=""
      />
    </figure>
    <figure class="card video">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/1027/300"
        alt=""
      />
    </figure>
    <figure class="card image">
      <img
        class="card__image"
        loading="lazy"
        src="https://picsum.photos/id/306/300"
        alt=""
      />
    </figure>
  </div>
</section>
