<!-- Page Header Start -->
<div
  class="container-fluid page-header mb-5 p-0"
  style="background-image: url(../../../assets/image/caresoul-01.svg)"
>
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center">
      <h1 class="display-3 text-white mb-3 animated slideInDown">جاليري</h1>
    </div>
  </div>
</div>
<!-- Page Header End -->
<div class="container mt-4">
  <!-- Filter Buttons (First Row) -->
  <div class="row mb-4">
    <div class="btnFilter text-center">
      <button
        class="btn"
        [ngClass]="{ 'active-filter': showImages }"
        (click)="filterImages()"
      >
        الصور
      </button>
      <button
        class="btn"
        [ngClass]="{ 'active-filter': !showImages }"
        (click)="filterVideos()"
      >
        الفيديوهات
      </button>
    </div>
  </div>

  <div class="gallery py-3 text-center">
    <!-- Title: 1 -->
    <h2 class="text-center my-5" *ngIf="showImages">
      مسابقة Robot Callenge Egypt 2022
    </h2>
    <div class="row g-4" *ngIf="showImages">
      <!-- Display up to 7 images for 1 -->
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-2.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-3.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-4.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-5.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-5-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <img src="../../../assets/image/img-1/img-7.png" alt="" />
      </div>
      <!-- Add more images as needed -->
    </div>

    <!-- Title: 2 -->
    <h2 class="text-center my-5" *ngIf="showImages">صور فرع مدينتى</h2>
    <div class="row g-4" *ngIf="showImages">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-2.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-3.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-4.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-5.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-6.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-7.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="../../../assets/image/img-2/R2-img-8.png" alt="" />
      </div>
    </div>

    <!-- Title: 3 -->
    <h2 class="text-center my-5" *ngIf="showImages">
      المشاركة في مبادرة المدارس المحورية للتعرف على علم الروبوت
    </h2>
    <div class="row d-flex justify-content-center" *ngIf="showImages">
      <div class="col-lg-3 col-md-12">
        <img src="../../../assets/image/img-3/R3-img-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-12">
        <img src="../../../assets/image/img-3/R3-img-2.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-12">
        <img src="../../../assets/image/img-3/R3-img-3.png" alt="" />
      </div>
    </div>
    <!-- Title: 4 -->
    <h2 class="text-center my-5" *ngIf="showImages">
      بروتوكول تعاون مع معهد الرواد الازهري الخاص
    </h2>
    <div class="row justify-content-center" *ngIf="showImages">
      <div class="col-lg-3 col-md-12">
        <img src="../../../assets/image/img-4/R4-img-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-12">
        <img src="../../../assets/image/img-4/R4-img-2.png" alt="" />
      </div>
    </div>

    <!-- Title: 5 -->
    <h2 class="text-center my-5" *ngIf="showImages">
      بروتوكول تعاون مع مدرسة طيبه الخاصة
    </h2>
    <div class="row justify-content-center" *ngIf="showImages">
      <div class="col-lg-3 col-md-12 text-center">
        <img src="../../../assets/image/img-5/R5-img-1.png" alt="" />
      </div>
      <div class="col-lg-3 col-md-12 text-center">
        <img src="../../../assets/image/img-5/R5-img-2.png" alt="" />
      </div>
    </div>

    <!-- Video Section -->
    <div class="video-row" *ngIf="!showImages">
      <div class="row g-4">
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-1.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-2.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-3.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-4.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-5.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-6.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-7.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-lg-6 col-md-12">
          <video controls>
            <source src="../../../assets/video/video-8.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>

  <!-- Add more titles, images, and videos as needed -->
</div>
