.page-header {
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  position: relative;
  top: 50%;
}

.page-header-inner h1{
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

#contact-form{
  padding: 50px 50px;
}
label {
  color: #2469A8;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#contact-btn {
  background: linear-gradient(191deg, #136CBC 8.32%, rgba(48, 104, 154, 0.53) 117.47%, rgba(19, 108, 188, 0.00) 241.17%);
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  border: none;
  width: 294px;
  height: 92px;
  padding: 14px 14px;
  border-radius: 20px;
}

#contact-btn:hover,
#contact-btn:focus {
    box-shadow: rgb(254, 254, 254) 0px 10px 50px -20px, rgb(246, 243, 243) 0px 10px 20px -30px;
}

.form-control {
  border-radius: 20px;
  border: 2px solid #136CBC;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border: 2px solid #136CBC;
}

.form-select {
  border-radius: 20px;
  border: 2px solid #136CBC;
  box-shadow: none;
  color: #136CBC;
}

.form-select:focus {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border: 2px solid #136CBC;
  color: #136CBC;
}

.form-select option {
  background-color: #fdf9f9;
  color: #136CBC;
}

.form-select option:hover,
.form-select option:focus  {
  background-color: #31e040;
  color: #2469A8;
}

#btnHome {
  box-shadow: none;
  width: 300px;
  height: 86.998px;
  padding: 20px 10px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 30px;
  border: none;
  background: #2469A8;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  #contact-btn {
    font-size: 1.5rem;
    width: 200px;
    height: 70px;
    padding: 14px 14px;
    border-radius: 20px;
  }
}
