  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 p-0" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.20) 100%), url(../../../assets/image/caresoul-01.svg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">احجز كورس </h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<section class="container py-3">
  <div  *ngIf="!isSuccess" class="row mx-auto py-3 col-lg-9 col-md-12">
    <form class="container py-5" id="contact-form" (ngSubmit)="onSubmit()">
      <div class="mb-3 input-group-lg">
        <label for="name" class="form-label mb-3">الاسم</label>
        <input type="text" name="name" class="form-control" id="name" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" [(ngModel)]="name" required>
      </div>
      <div class="mb-3 input-group-lg">
        <label for="mobile_num" class="form-label mb-3">الجوال</label>
        <input name="mobile_num" type="text" id="mobile_num" class="form-control input-group-lg" maxlength="15"
          aria-describedby="inputGroup-sizing-lg" aria-label="Sizing example input" autocomplete="phone" [(ngModel)]="phone" required>
      </div>
      <div class="mb-3 input-group-lg">
        <label for="email" class="form-label mb-3">البريد الالكترونى</label>
        <input type="email" name="email" class="form-control" id="email" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" [(ngModel)]="email" required>
      </div>
      <div class="col-lg-12">
        <span id="emailError" class="text-danger d-block mb-3 mx-4"></span>
      </div>
      <div class="mb-5">
        <label for="subject" class="form-label mb-3"> الكورس </label>
        <select class="form-select form-select-lg mb-3" id="subject" name="subject"
          aria-label=".form-select-lg example"  [(ngModel)]="selectedCourse">
          <option selected disabled>-اختيار-</option>
          <option value="Electronics"> Electronics </option>
          <option value="C++"> ++C </option>
          <option value="Arduino"> Arduino </option>
          <option value="Python"> Python </option>
          <option value="Scratch 3"> Scratch 3 </option>
          <option value="Scratch Junior"> Scratch Junior </option>
          <option value="Robotics Vex Vr"> Robotics Vex Vr </option>
        </select>
      </div>
      <div class="mb-3 mx-auto text-center">
        <button type="submit" value="Submit" id="contact-btn" [disabled]="isSubmitDisabled" class="my-3 btn btn-lg">
         <!-- {{ isSubmitDisabled ? 'جارى الإرسال...' : 'إرسال' }} -->
          <span *ngIf="isSubmitDisabled">
            جارى الإرسال 
            <i class="fa-solid fa-spinner fa-spin"></i> 
          </span>
          <span *ngIf="!isSubmitDisabled">إرسال</span>
        </button>
      </div>
      <div id="response-message" class="text-center"></div>
    </form>
  </div>
  <div *ngIf="isSuccess" class="text-center">
    <p class="fs-2 alert alert-success p-5">تم إرسال طلبك ... سيتم التواصل معك قريباً</p>
    <a id="btnHome" class="btn" role="button" routerLink="/home"> عودة للصفحة الرئيسية
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <g clip-path="url(#clip0_539_37)">
        <path d="M42 48H28V35H20V48H6V27C6 26.7348 6.10536 26.4804 6.29289 26.2929C6.48043 26.1054 6.73478 26 7 26C7.26522 26 7.51957 26.1054 7.70711 26.2929C7.89464 26.4804 8 26.7348 8 27V46H18V33H30V46H40V28C40 27.7348 40.1054 27.4804 40.2929 27.2929C40.4804 27.1054 40.7348 27 41 27C41.2652 27 41.5196 27.1054 41.7071 27.2929C41.8946 27.4804 42 27.7348 42 28V48Z" fill="white"/>
        <path d="M47.0001 27.0002C46.7426 27.0006 46.495 26.9013 46.3091 26.7232L24.0001 5.38421L1.6911 26.7232C1.49948 26.9066 1.24286 27.0064 0.977681 27.0006C0.712505 26.9947 0.460498 26.8838 0.277101 26.6922C0.0937041 26.5006 -0.00606136 26.244 -0.000247729 25.9788C0.0055659 25.7136 0.116482 25.4616 0.308101 25.2782L24.0001 2.61621L47.6911 25.2772C47.8355 25.4152 47.9353 25.5933 47.9776 25.7885C48.0199 25.9837 48.0027 26.1871 47.9284 26.3724C47.8541 26.5578 47.7259 26.7167 47.5604 26.8286C47.395 26.9405 47.1998 27.0002 47.0001 27.0002ZM39.0001 15.0002C38.7349 15.0002 38.4805 14.8949 38.293 14.7073C38.1055 14.5198 38.0001 14.2654 38.0001 14.0002V8.00021H32.0001C31.7349 8.00021 31.4805 7.89485 31.293 7.70732C31.1055 7.51978 31.0001 7.26543 31.0001 7.00021C31.0001 6.73499 31.1055 6.48064 31.293 6.2931C31.4805 6.10557 31.7349 6.00021 32.0001 6.00021H40.0001V14.0002C40.0001 14.2654 39.8947 14.5198 39.7072 14.7073C39.5197 14.8949 39.2653 15.0002 39.0001 15.0002Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_539_37">
        <rect width="48" height="48" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </a>
    </div>
</section>
