  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../assets/image/caresoul-01.svg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">احجز كورس </h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<section class="container py-3">
  <div class="row mx-auto py-3 col-lg-9 col-md-12">
    <form class="container py-5" id="contact-form" (ngSubmit)="onSubmit()">
      <div class="mb-3 input-group-lg">
        <label for="name" class="form-label mb-3">الإسم</label>
        <input type="text" name="name" class="form-control" id="name" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" [(ngModel)]="name" required>
      </div>
      <div class="mb-3 input-group-lg">
        <label for="mobile_num" class="form-label mb-3">الجوال</label>
        <input name="mobile_num" type="text" id="mobile_num" class="form-control input-group-lg" maxlength="15"
          aria-describedby="inputGroup-sizing-lg" aria-label="Sizing example input" autocomplete="phone" [(ngModel)]="phone" required>
      </div>
      <div class="mb-3 input-group-lg">
        <label for="email" class="form-label mb-3">البريد الالكترونى</label>
        <input type="email" name="email" class="form-control" id="email" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" [(ngModel)]="email" required>
      </div>
      <div class="col-lg-12">
        <span id="emailError" class="text-danger d-block mb-3 mx-4"></span>
      </div>
      <div class="mb-5">
        <label for="subject" class="form-label mb-3"> الكورس </label>
        <select class="form-select form-select-lg mb-3" id="subject" name="subject"
          aria-label=".form-select-lg example"  [(ngModel)]="selectedCourse">
          <option selected disabled>-اختيار-</option>
          <option value="Electronics"> Electronics </option>
          <option value="C++"> C++ </option>
          <option value="Arduino"> Arduino </option>
          <option value="Python"> Python </option>
          <option value="Scratch 3"> Scratch 3 </option>
          <option value="SCratch Junior"> SCratch Junior </option>
          <option value="Robotics Vex Vr"> Robotics Vex Vr </option>
        </select>
      </div>
      <div class="mb-3 mx-auto text-center">
        <button type="submit" value="Submit" id="contact-btn" class="my-3 btn btn-lg">إرسال</button>
      </div>
      <div id="response-message" class="text-center"></div>
    </form>
  </div>
</section>
